*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
gradle.properties
hillffair is the best app in the recent years than the other aps.the new features make it 
really nice and quiz has made it more interesting .
