<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nith.appteam.hillffair17">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".Utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyByIUspPrtzSN1TGWXi2zXn7zaeTGr6850" />
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/SplashTheme">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            <!-- Note: @octacode- Done to suppress high resolution warning during publishing for phones like S8 -->
            <meta-data
                android:name="android.max_aspect"
                android:value="2.1" />
        </activity>
        <activity
            android:name=".Activities.MapActivity"
            android:exported="true"
            android:parentActivityName=".Activities.HomescreenNew" />
        <activity
            android:name=".Activities.ContributorsActivity"
            android:parentActivityName=".Activities.HomescreenNew" />
        <activity
            android:name=".Activities.SponsorActivity"
            android:parentActivityName=".Activities.HomescreenNew" />
        <activity
            android:name=".Activities.CoreTeamActivity"
            android:parentActivityName=".Activities.HomescreenNew" />
        <activity
            android:name=".Activities.HomeActivity"
            android:label="Hill&apos;ffair 2k17"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.IntroActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.AboutActivity"
            android:exported="true"
            android:parentActivityName=".Activities.HomescreenNew" />
        <activity
            android:name=".Activities.EventActivity"
            android:exported="true"
            android:parentActivityName=".Activities.HomescreenNew" />
        <activity
            android:name=".Activities.ClubActivity"
            android:exported="true"
            android:parentActivityName=".Activities.EventActivity" />
        <activity
            android:name=".Activities.BattleDayActivity"
            android:exported="true"
            android:parentActivityName=".Activities.HomeActivity" />


        <activity
            android:name=".Activities.QuizCategoryActivity" />
        <activity android:name=".Activities.QuizActivity"
            android:parentActivityName=".Activities.HomescreenNew"
            android:exported="true"/>

        <activity
            android:name=".Activities.QuizSubCategoryActivity"
            android:exported="true"
            android:parentActivityName=".Activities.QuizCategoryActivity"
            />

        <activity
            android:name=".Activities.NewsFeedActivity"
            android:parentActivityName=".Activities.WallIntroActivity"
            android:exported="true"
            />


        <activity
            android:name=".Activities.HomescreenNew"
            android:label="Hill&apos;ffair 2k17"
            android:theme="@style/AppTheme"
            android:exported="true" />

        <activity android:name=".Notification.NotificationActivity"
            android:exported="true"
            />

        <activity
            android:parentActivityName=".Activities.HomescreenNew"
            android:name=".Activities.ProfileActivity"
            android:exported="true" />
        <activity
            android:parentActivityName=".Activities.HomescreenNew"
            android:name=".Activities.GalleryActivity"
            android:exported="true" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true" />
        <activity android:name=".Activities.UploadNewsFeedActivity"
            android:exported="true"
            android:parentActivityName=".Activities.WallIntroActivity"
            />
        <service
            android:name=".Service.UploadService"
            android:exported="false" />

        <receiver android:name=".Service.UploadBroadCastReceiver">
            <intent-filter>
                <action android:name="start" />
                <action android:name="finish" />
                <action android:name="error" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://862148829278388:hJQPvA-kYbt8TRsp0bMSdqH65NE@appteamnith" />


        <activity android:name=".Activities.WallIntroActivity"
            android:exported="true"
            android:parentActivityName=".Activities.HomescreenNew"
            />

        <activity android:name=".Activities.LeaderBoardActivity"
            android:parentActivityName=".Activities.HomescreenNew"

            android:exported="true" />
        <activity android:name=".Activities.PollActivity"
            android:parentActivityName=".Activities.HomescreenNew">

        </activity>
        <activity android:name=".Activities.PlotActivity"
            android:parentActivityName=".Activities.HomeActivity">

        </activity>
        <activity android:name=".Activities.PastPolls"></activity>

        <activity android:name=".Notification.Notification2"
            android:parentActivityName=".Notification.NotificationActivity"
            android:exported="true"
            />


        <activity android:name=".Activities.QuizQuestionActivity"
            android:parentActivityName=".Activities.HomescreenNew"
            android:exported="true"
            />
        <activity android:name=".Activities.QuizScoreActivity"
            />
    </application>

</manifest>